.description__left

  p Еще один парфюм, созданный в 2009 году и вошедший в популярную линию ароматов, посвященных мистическим картам Таро от Dolce & Gabbana. Презентует третью карту Старших Арканов Наоми Кэмпбелл. Королева, Императрица, Мать. Она величественна и необычайно прекрасна в своем могуществе, она гордо восседает на своем троне. Посвященных мистическим картам Таро от Dolce. Презентует третью карту Старших Арканов Наоми Кэмпбелл. Королева, Императрица, Мать. Она величественна и необычайно прекрасна в своем могуществе. Презентует третью карту Старших Арканов Наоми Кэмпбелл. Презентует третью карту Старших Арканов Наоми Кэмпбелл.

  = render 'product_sets/show/advantage'