title DreamBox
= stylesheet_link_tag 'web/application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Noto+Serif:400i&amp;subset=cyrillic', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
meta name="viewport" content="width=device-width, initial-scale=1"